* {
   background: #1f1010;
}
body{
    color: #6cacc5;
    font: 18px/1.1 "Source Sans Pro", sans-serif;
    padding: 5em 0 2em;
    text-align: center;
}
h1{
    font-weight:lighter;
    background: -webkit-linear-gradient(45deg, #7b7bc9 40%, #b4bbcc 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calculator{
    font-size: 20px;
    margin: auto;
    width: 18em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.calculator::before,
.calculator::after {
    content: " ";
    display: table;
}
.calculator::after{
    clear: both;
}
.user{
    color: #bbb1b1;
    font-size: 28px;
    text-align: right;
    margin-right: 10%;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
} 
.erase{
    margin-bottom: -2em;
    margin-left: -11.35em;
}

button {
    background: #0f1a6647;
    color: #6cacc5;
    cursor: pointer;
    font: inherit;
    width: 3em;
    padding: 1em;
    margin: 0.3em;
    cursor: pointer;
    outline: none;
    border: none;
}
button:hover{
    opacity: 0.4;
}
button::after {
    animation: zoom 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    content: attr(unit-num);
    font-size: 100px;
    position: absolute;
    top: 1.5em;
    left: 55.5%;
    text-align: center;
    opacity: 0;
    width: 48px;
}

.ops:focus::after{
    content: attr(unit-ops);
    margin-left: -210px;
    width: 420px;
}
.equals:focus::after{
    content: attr(unit-result);
    margin-left: -210px;
    width: 420px;
}

/* Restart Button */
.restart {
    width: 6em;
    background-color: #141474;
    color: #bbb1b1;
    font-weight: 400;
    /* margin-left: -77px; */
    padding: 0.5em 1em;
    position: absolute;
    top:-20em;
    left: 55.5%;
    width: auto;
    height: auto;
}
.restart:hover{
    background-color: #bbb1b1;
    color: #100a1c;
}

.restart:show{
    top: 20em;
    animation: fadein 4s;
}

/* Values displayed after click */
@keyframes zoom{
0%{
    transform: scale(.2);
    opacity: 1;
}
70% {
    transform: scale(1);
}
100% {
    opacity: 0;
}
}

/* Division by zero animation */
/* @keyframes  */

/* Restart button fadein */
@keyframes fadein {
    0%{
        top: 20em;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}